
@model IEnumerable<Northwind.Model.Entities.Discount>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron my-2 border border-dark shadow shadow-lg mb-0">
    <h1 class="display-4">Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p>For exceptional international cuisine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button"><i class="fas fa-shopping-cart"></i> Order Now</a>
</div>

<div class="container">
    <div class="row">
        @foreach (Discount d in Model)
        {
            <div class="col-md-4 col-sm-6 card-body d-flex flex-column border border-info shadow-sm rounded p-3">
                <h1 class="card-title">@d.Title</h1>
                <p>@d.Description</p>
                <p></p>
                <div style="margin-top: auto;">
                    <p><a class="font-italic">Discount expires: @d.EndTime</a></p>
                    <button type="button" class="align-self-end btn btn-block btn-outline-primary clickme" id="@d.Code" title="@d.Title" code="@d.Code">
                        <span class="fas fa-hand-point-right" aria-hidden="true">
                            Apply Discount
                            <span class="fas fa-hand-point-left" aria-hidden="true"></span>
                        </span>
                    </button>
                </div>
            </div>
        }
    </div>
 </div>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center aligh-items-center" style="min-height: 200px">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="..." />
            <strong class="mr-auto">Title</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <span>Hello world!  This is a toast message.</span>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="js/client.js"></script>
}
